@import "style.css";
* {
    padding: 0;
    margin: 0;
}

:root {
  --bg-dark: rgb(24, 25, 41);
  --accent-purple: rgb(139, 115, 226);
  --dark-purple: rgb(108, 86, 194);
  --glow-purple: rgb(161, 140, 236);
  --text-white: rgb(255, 255, 255);
  --text-dim: rgb(200, 200, 215);
}

body {
    background-color: var(--bg-dark);
    color: var(--text-white);
}

nav {
    display: flex;
    flex-direction: column;
    margin: 2%;
    padding-inline: 2%;
    padding-block: 5px; 
}

a {
    color: var(--text-dim);
}

.nav-div {
    display: flex;
    justify-content: space-between;  
}

.cuadro {
    border: 2px solid;
    height: 100%;
}

.nav-h3 {
    text-align: center;
    font-size: 30px;
    color: var(--text-dim);
}